.app-container {
  color: var(--color-white);
  background-color: var(--color-dark-highlight);
}

.loading{
  font-size: 1.2rem;
  margin-top: 20px;
}

.error-message {
  color: red;
  margin-top: 20px;
}

button {
  border: 1px solid var(--color-primary);
  border-radius: 5rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  background-color: var(--color-highlight);
  color: var(--color-white);
}

button:hover{
  cursor: pointer;
  background-color: var(--color-black);
  border-color: var(--color-white);
}