:root {
  --color-black: #000000;
  --color-blue: #0000ee;
  --color-primary: #008afc;
  --color-dark: #00060f;
  --color-highlight: #116dff;
  --color-gray: #c7c7c7;
  --color-white: #ffffff;
  --color-dark-background: #242834;
  --color-dark-text: #040c18;
  --color-dark-highlight: #04204a;
}
