.list-item {
  position: relative;
  border-top: 1px solid var(--color-highlight);
  text-shadow: 0px 0px 4px var(--color-black);
  transition: background-color 0.2s linear;
}

.list-item:last-child{
  border-bottom: 1px solid var(--color-highlight);
}

.toggle-select {
  padding: 20px;
}

.list-item-button-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 10px;
}

@media screen and (max-width: 768px){
  .toggle-select {
    padding: 20px 10px;
  }

  .list-item-button-container {
    position: relative;
  }
}